.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.select {
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 1px solid var(--interactive-neutral-outline-border);
  border-radius: var(--border-radius-sm);
  background-color: var(--surface-base);
}

.select:focus-visible {
  outline: none;
  box-shadow: var(--focus-ring);
}

.label {
  font-weight: 500;
}
